<h1>Bienvenid@</h1>
<h3>Visita tus playlist favoritas </h3>
<ul>
  <li>Añade nuevas canciones a las playlist de tus cantantes favoritos</li>
  <li>Lleva un control de tus canciones favoritas y del año de su estreno</li>
 </ul>
<div>
  <img src="../images/fondo.jpg" alt="Error en imagen">
</div>
<div>
  <img src="../../images/fondo2.jfif" alt="Error en imagen">
</div>
<div>
  <img src="../wwwroot/images/fondo.jpg" alt="Error en imagen">
</div>
<div>
  <img src="../wwwroot/images/fondo.jfif" alt="Error en imagen">
</div>
<div>
  <img src="/ClientApp/src/images/fondo.jpg" alt="Error en imagen">
</div>
<div>
  <img src="/ClientApp/fondo.jpg" alt="Error en imagen">
</div>




